@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900,900i|Open+Sans:600,700,800|Lato:400,700|IBM+Plex+Serif&display=swap');

:root {
  --ffam-serif-a: 'Century', georgia, serif;
  --ffam-serif-b: 'Montserrat', georgia, serif;
  --ffam-sans-a: 'Roboto', 'Lato', helvetica, arial, sans-serif;
  --txt-line: 1.4;
  --txt-vrt: 1rem;
  --txt-hrz: 0.5rem;
  --h-line: 0.9;
  --h-margin: calc(var(--txt-line) / var(--h-line) * 0.5rem);
  --corners: calc(var(--txt-vrt) / 8);  
  
  --col-back: #e4e6e3;
  --col-fore: #525c70;
  
  --a-h: 250;
  --b-h: 100;
  
  --opaque: 1;
  --lucent: 0.5;
  --trans: 0.25;
  
  --lighter: 90%;
  --light: 75%;
  --mid: 60%;
  --dark: 50%;
  --darker: 50%;
  
  --col-light: hsla(var(--a-h), 100%, var(--light), var(--opaque));
  --col: hsla(var(--a-h), 100%, var(--mid), var(--lucent));
  --col-dark: hsla(var(--a-h), 80%, var(--dark), var(--opaque));
  --col-darker: hsla(var(--a-h), 70%, var(--darker), var(--opaque));
}

*, *::before, *::after {
  box-sizing: border-box;
  transition: all 100ms;
}
body {
  margin: 0;
  font: 400 1em var(--ffam-serif-a);
  line-height: 1;
  background-color: var(--col-back);
  color: var(--col-fore);
}
button, input, textarea {
  color: inherit;
  background-color: inherit;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  font-family: var(--ffam-sans-a);
  line-height: var(--h-line);
  margin: var(--h-margin) 0;
  position: relative;
}
h1, h2 {
  font-family: var(--ffam-serif-b);
  font-style: italic;
}
h1 { 
  font-size: 2.7em; 
  line-height: 0.85;
  margin-right: calc(var(--txt-hrz) * 6);
}
h1 > a {
  font-family: inherit;
  background-position: 0 0%;
  background-size: auto 155%;
}
h1 > a:hover {
  background-color: transparent;
  background-position: 0 100%;
  background-image: linear-gradient(transparent 0, transparent 65%, hsla(var(--a-h), 100%, var(--mid), var(--lucent)) 65%);
  box-shadow: none;
}
.category + h1 {
  margin-top: calc(var(--h-margin) / 1.5);
}

h2 { 
  font-size: 1.5em; 
  position: relative;
}
h2::after {
  content: " \220C";
  transform: rotate(-45deg);
  display: inline-block;
  color: var(--col-darker);
  text-shadow: -0.1rem 0.2rem 0 var(--col-light);
  opacity: 0;
  cursor: pointer;
}
h2:hover::after {
  opacity: 1;
}
h3 {
  font-size: 1em;
  text-transform: uppercase;
}
h4 {
  font-size: 0.9em;
}
/* This will be used to represent that heading in a side nav slider ("scrollspy"). Probably more likely to use multuple colours, or perhaps symbols/characters. Could also used width to demonstrate weight, */
h1::before, h2::before, h3::before  {
  content: "";
  position: absolute;
  width: 1em;
  height: 0.125em;
  background-color: var(--col-a);
  bottom: -0.25em;
  left: 0;
  z-index: -1;
}
p {
  margin: var(--txt-vrt) 0;
  line-height: var(--txt-line);
  text-align: justify;
}
a {
  position:relative;
  color: inherit; /* this needs a colour */
  font-family: var(--ffam-sans-a);
  font-weight: 700;
  text-decoration: none;
  font-size: 0.95em;
  box-shadow: 0.2rem 0.2rem 0 transparent;
}
a:hover {
  background-color: var(--col-light);
  box-shadow: 0.2rem 0.2rem 0 var(--col-a);  
}
p a:hover::before {
  width: 100%;
}
p a::before {
  content: "\092";
  position: absolute;
  width: 1em;
  height: 0.125em;
  background-color: var(--col-a);
  bottom: -0.125em;
  left: 0.2em;
  z-index: -1;
}
code, pre {
  background-color: var(--col-light);
  color: var(--col-a);
  border-radius: var(--corners);
  box-shadow: 0.25rem 0.25rem 0 var(--col-light);
}
code { 
  padding: calc(var(--txt-vrt) / 20) calc(var(--txt-vrt) / 6); 
}
pre { 
  padding: calc(var(--txt-vrt) / 1.5); 
  overflow-x: scroll;
}
pre::-webkit-scrollbar { 
    display: none; 
}
kbd {
  color: var(--col-a);
  box-sizing: border-box;
  background-color: var(--col-light);
  border: 4px outset var(--col-light);
  border-radius: var(--corners);
  position: relative;
  padding: 0 calc(var(--txt-vrt) / 10);  
}
kbd + kbd {
  margin-left: 1.5ch;
}
kbd + kbd::before {
  content: "+";
  position: absolute;
  opacity: 0.5;
  left: -3.66ch;
  top: 0;
}
abbr {
  text-decoration: none;
  padding: 0 calc(var(--txt-vrt) / 10); 
  background-color: var(--col-light);
}
abbr:hover {
  border-color: var(--col-a);
  cursor: help;
}

blockquote {
  margin: calc(var(--txt-vrt)) 0;
  font-size: 1.25em;
  font-style: italic;
  font-weight: 400;
  font-family: var(--ffam-sans-a);
  line-height: 1;
  padding-left: calc(var(--txt-vrt) * 3);
  padding-right: calc(var(--txt-vrt) * 1);
  text-align: right;
  padding-top: calc(var(--txt-vrt) * 1);
  position: relative;

}
blockquote { margin-top: calc(var(--txt-vrt) * 1); }
blockquote + * { padding-top: calc(var(--txt-vrt) * 1); position: relative; }
blockquote::before, blockquote + *::before { 
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border-top: 0.175rem solid var(--col-light);
  box-shadow: 0.2rem 0.2rem 0 var(--col-light);
}
blockquote::after {
  content: "\275E";
  position: absolute;
  display: inline-block;
  color: var(--col-a);
  top: -0.35em;
  left: 0;
  right: 0;
  margin: auto;
  width: 1em;
  height: 0.7em;
  padding-right: 0.2em;
  background-color: var(--col-back);
  text-align: center;
  font-size: 1.5em;
  font-family: var(--ffam-serif-b);
  text-shadow: 0.125rem 0.125rem 0 var(--col-light);
}
blockquote p {
  text-align: right;
  line-height: 1em;
}
blockquote > p:first-of-type {
  margin-top: 0;
}
blockquote > p:first-of-type::first-letter {
  font-size: 2em;
  font-weight: 900;
  letter-spacing: -0.08em;
  text-shadow: 0.125rem 0.125rem 0 var(--col-a);
  text-transform: uppercase;
}

figure {
  margin: 0;
}
img {
  max-width: 100%;
  box-shadow: 0.2rem 0.2rem 0 var(--col-light);
}
figcaption, cite {
  display: inline-block;
}
figcaption {
  font: 700 0.95em var(--ffam-sans-a);
}
cite {
  font-size: 0.75em;
}
cite::before {
  content: "| ";
  vertical-align: top;
  line-height: 0.75;
}

main{
  margin: 1rem;
  padding: 1em;
  font-size: 1.25em;
}

section {
  display: block;
  font-style: var(--ffam-serif-b);
  font-variant: var(--col-dark);
  color: var(--col-darker);
}
button {
  padding: 0.25em 0.5em;
  background-color: transparent;
  border-radius: var(--corners);
  border: 0.175em solid var(--col-light);
  box-shadow: 0.2rem 0.2rem 0 var(--col-a);
  font-family: var(--ffam-sans-a);
  text-transform: uppercase;
}

  button:hover {
    background-color: var(--col-light);
/*     box-shadow: 0.2rem 0.2rem 0 var(--col-dark); */
    cursor: pointer;
  }
 
  button.action {
    background-color: var(--col-light);
  }
  button.action:hover {
    background-color: var(--col-a);
  }


/******* LAYOUT STYLING *******/

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-header {
  margin-bottom: calc(var(--txt-vrt) * 2);
}
.site-main {
  flex-grow: 1;
}
.global-footer {
  color: var(--col-dark);
  padding: calc(var(--txt-vrt) * 3) 0;
  margin-top: calc(var(--txt-vrt) * 3);
  position: relative;
  overflow: hidden;
  z-index: 0;
  min-height: 10em;
}
.global-footer::before {
  content: "\135R";
  background-color: var(--col-a);
  background: linear-gradient(90deg, var(--col-a) 0%, var(--col-light) 100%);
  position: absolute;
  height: 100%;
  width: 120%;
  top: 0;
  margin-top: 6%;
  left: -1em;
  z-index: -1;
  transform: rotate(5deg);
}
.global-footer::after {
  content: "\120D";
  background-color: var(--col-light);  
  position: absolute;
  height: 100%;
  width: 120%;
  top: 0;
  margin-top: 2%;
  left: 0%;
  z-index: -2;
  transform: rotate(-2deg);
}
  
.logo-header a {
  display: block;
  font: 800 3em 'Hack', Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: -0.1em;
  line-height: 0.45;
  border-bottom: 0.15em solid var(--col-a);
  margin: 0.5em 0;
  padding-left: 0.08em;
}

.container {
  color: var(--col-darker);
  width: 90%;
  max-width: 50em;
  margin: auto;
}

.published, .category {
  font: 500 0.500em var(--ffam-sans-b);
  text-transform: uppercase;
  letter-spacing: 0.25em;
}
.published {
  margin-top: var(--txt-vrt);
}
.published + .published {
  margin-top: 0;
}
.category {
  background-color: var(--col-a);
  display: inline;
  padding: 0.25em;
  font-size: 0.5em;
}


/* Put theses sizes in variables */
@media screen and (min-width: 40em) {
  body {
    font-size: 1.00em;
  }
}
@media screen and (min-width: 60em) {
  body {
    font-size: 1.00em;
  }
}


/*********** index.css ***********/
.index-story {
  display: flex;
  gap: 2em;
  align-items: center;
  border-bottom: 1px solid rgb(198, 198, 209);
  padding: 2em 0;
}
.index-story h1 {
  margin-right: 0;
}
.index-story-summary h1:first-child {
  margin-top: 0;
}

@media screen and (min-width: 50em) {
  .index-story {
    display: grid;
    grid-template-columns: auto 10em;
    grid-template-areas: "summary img";
    align-items: end;
  }
  .index-story:nth-child(even) {
    grid-template-columns: 20em auto;
    grid-template-areas: "summary img";
  }
  .index-story-summary {
    grid-area: summary;
  }
  .index-story-img {
    grid-area: img;
    max-width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 60em) {
  .index-story {
    grid-template-columns: auto 16em;
  }
  .index-story:nth-child(even) {
    grid-template-columns: 30em auto;
  }
}

/*********** story.css ***********/
.story-header {
  margin-bottom: 3rem;
}
.story-container {
  margin: 2rem;
}
.story-body > p:first-of-type {
  text-indent: 1em;
  margin: 2em;
}
.story-body > p:last-of-type::after {
  content: " \1296";
  font-size: 0.75em;
  vertical-align: middle;
  text-indent: 1em;
  color: var(--col-light);
  text-shadow: 0.125rem 0.125rem 0 var(--col-darker);
}
.header-img {
  min-height: 50vh;
  background-color: var(--col-light);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  display: grid;
  align-content: end;
  padding: 1em;
}
.header-img * {
  color: white;
  mix-blend-mode: difference;
}
.articleBody *{
  color: var(--col-light);
  text-align: center;
  text-overflow: var(--col-light);
  background-color: var(--col-darker);
}

.articleBody * a {

  display: block;
  border: 1px solid var(--dark);
}